<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Confirmation</title>
    <style>
      .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow: auto;
      }
      .modal-content {
        position: relative;
        margin: 1.5rem auto;
        max-width: 48rem;
        border: 1px solid #000;
        background-color: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        outline: none;
      }
      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
      }
      .modal-body {
        padding: 0 2rem 3.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
      }
      .content-header {
        text-align: center;
        font-weight: bold;
        color: #255bb3;
        font-size: 1.5rem;
        margin-top: 1.5rem;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #e6e6e6;
        padding: 1.25rem 2rem;
        width: 100%;
      }
      .content p {
        text-align: center;
        font-weight: bold;
        color: #255bb3;
        font-size: 1.5rem;
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-bottom: 2rem;
      }
      .detail-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .detail-item span {
        color: #808080;
        font-size: 18px;
      }
      .button {
        width: 100%;
        padding: 0.5rem;
        font-weight: 700;
        font-size: 1.125rem;
        text-align: center;
        color: #fff;
        border: none;
      }
      .button-confirm {
        background-color: #ffaa00;
        margin-bottom: 1rem;
        cursor: pointer;
      }
      .button-confirm a {
        text-decoration: none;
        color: #fff;
      }
      .button-back {
        background-color: #6c757d;
        cursor: pointer;
      }

      /* Media Queries for Mobile Responsiveness */
      @media (max-width: 768px) {
        .modal-body {
          width: 80%;
          padding: 0 1rem 2rem;
        }
        .content-header,
        .content p {
          font-size: 1.25rem;
        }
        .detail-item span {
          font-size: 16px;
        }
        .button {
          font-size: 1rem;
        }
      }
      @media (max-width: 480px) {
        .modal-body {
          width: 90%;
          padding: 0 0.5rem 1.5rem;
        }
        .content-header,
        .content p {
          font-size: 1rem;
        }
        .detail-item span {
          font-size: 14px;
        }
        .button {
          font-size: 0.875rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="modal">
      <div class="modal-content">
        <div class="modal-body">
          <div class="content-header">決済内容の確認</div>
          <div class="content">
            <p>決済内容</p>
            <div class="details">
              <div class="detail-item">
                <span>注文した商品&nbsp;&nbsp;&nbsp;</span>
                <span
                  ><%= Array.isArray(itemsArray) ? itemsArray.join(",") : ''
                  %></span
                >
              </div>
              <div class="detail-item">
                <span>契約ID&nbsp;&nbsp;&nbsp;</span>
                <span><%= transactionId %></span>
              </div>
              <div class="detail-item">
                <span>GMO OrderID&nbsp;&nbsp;&nbsp;</span>
                <span><%= chargeResponse?.orderID %></span>
              </div>
              <div class="detail-item">
                <span>Customer Name:&nbsp;&nbsp;&nbsp;</span>
                <span><%= customerName %></span>
              </div>
              <div class="detail-item">
                <span>Seller Name:&nbsp;&nbsp;&nbsp;</span>
                <span><%= sellerName %></span>
              </div>
            </div>
            <button class="button button-confirm">
              <a
                href="<%= frontEndUrl + '/transaction/' + transactionId + '/payment-completed' %>"
                class="btn"
                >支払いを確定する</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
